In [1]:
import selenium
import pandas as pd
import time

from selenium import webdriver

In [2]:
# activating the chrome browser
driver = webdriver.Chrome(r"C:\Users\Arsh\Desktop\Data Analysis\chromedriver.exe")

# Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.

In [4]:
# opening the homepage of naukri.com
driver.get('https://www.naukri.com')

In [5]:
# passing post name
search_inp = input('Enter the post name: ')
search_bar = driver.find_element_by_xpath("//div[@class='inpWrap']/input")
search_bar.clear()
search_bar.send_keys(search_inp)

# passing location
loc_inp = input('Enter location: ')
loc_bar = driver.find_element_by_id('qsb-location-sugg')
loc_bar.clear()
loc_bar.send_keys(loc_inp)
time.sleep(4)

# searching
search_btn = driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_btn.click()

Enter the post name: Data Analyst
Enter location: Bangalore

In [6]:
job_title = []
job_loc = []
comp_name = []
expr = []

In [7]:
# extracting job title
for i in driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']"):
    if len(job_title) == 10:
        break
    else:
        job_title.append(i.text)

# extracting job location
for j in driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span"):
    if len(job_loc) == 10:
        break
    else:
        job_loc.append(j.text)

# extracting company name
for k in driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']"):
    if len(comp_name) == 10:
        break
    else:
        comp_name.append(k.text)

# extracting experirncr required
for l in driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span"):
    if len(expr) == 10:
        break
    else:
        expr.append(l.text)

In [8]:
print(len(job_title), len(job_loc), len(comp_name), len(expr))

10 10 10 10

In [9]:
Jobs = pd.DataFrame({})
Jobs['title'] = job_title
Jobs['company'] = comp_name
Jobs['location'] = job_loc
Jobs['experience'] = expr

In [10]:
Jobs

,title,company,location,experience
0,Data Scientist / Data Analyst -Business Analyst,Inflexion Analytix Private Limited,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/...",0-3 Yrs
1,Hiring Data Analysts For E commerce Platform |...,Allegis Services India Pvt. Ltd.,Bangalore/Bengaluru,0-5 Yrs
2,Data Analyst,Applied Materials,Bangalore/Bengaluru,7-10 Yrs
3,Hiring For Data Analyst/ MIS Reporting Analyst...,PHARMACEUTICAL RESEARCH ASSOCIATES INDIA Pvt Ltd,Bangalore/Bengaluru,2-4 Yrs
4,DA - Urgent Opening For Data Analyst BFSI Doma...,Tata Consultancy Services Ltd.,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab...",4-9 Yrs
5,Data Analyst - Informatica MDM,Shell India Markets Private Limited,Bangalore/Bengaluru,6-9 Yrs
6,Assistant Vice President - MIS & Reporting ( B...,INTERTRUSTVITEOS CORPORATE AND FUND SERVICES P...,"Mumbai, Bangalore/Bengaluru",12-18 Yrs
7,Data Analyst,Myntra Designs Pvt. Ltd.,Bangalore/Bengaluru,3-6 Yrs
8,Data Analyst,Myntra Designs Pvt. Ltd.,Bangalore/Bengaluru,3-6 Yrs
9,Data Analyst,Myntra Designs Pvt. Ltd.,Bangalore/Bengaluru,4-9 Yrs

# Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, full job-description. You have to scrape first 10 jobs data.

In [3]:
# opening the homepage of naukri.com/
driver.get('https://www.naukri.com')

In [4]:
# passing post name
search_inp = input('Enter the post name: ')
search_bar = driver.find_element_by_xpath("//div[@class='inpWrap']/input")
search_bar.clear()
search_bar.send_keys(search_inp)

# passing location
loc_inp = input('Enter location: ')
loc_bar = driver.find_element_by_id('qsb-location-sugg')
loc_bar.clear()
loc_bar.send_keys(loc_inp)
time.sleep(4)

# searching
search_btn = driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_btn.click()

Enter the post name: Data Scientist
Enter location: Bangalore

In [5]:
job_title = []
job_loc = []
comp_name = []
desc = []
url = []

In [7]:
# extracting job title
for i in driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']"):
    if len(job_title) == 10:
        break
    else:
        job_title.append(i.text)

# extracting job location
for j in driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span"):
    if len(job_loc) == 10:
        break
    else:
        job_loc.append(j.text)

# extracting company name
for k in driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']"):
    if len(comp_name) == 10:
        break
    else:
        comp_name.append(k.text)

# storing url of description page
for l in driver.find_elements_by_xpath("//div[@class='info fleft']/a"):
    if len(url) == 10:
        break
    else:
        url.append(l.get_attribute('href'))

# extracting description required
for i in range(len(url)):
    page_url = url[i]
    driver.get(page_url)
    try:
        ele=driver.find_element_by_xpath("//div[@class='job-desc']")
        desc.append(ele.text)
    except NoSuchException as e:
        print("Exception Raised : ",e)
        ele=driver.find_element_by_xpath("//div[@class='clearboth description']")
        desc.append(ele.text)

WebDriverException: Message: unknown error: net::ERR_INTERNET_DISCONNECTED
  (Session info: chrome=90.0.4430.212)

In [ ]:
desc

# Scraping data from naukri.com using filters

The location filter to be used is 'Delhi/NCR'

The salary filter to be used is '3-6' lakhs

In [15]:
driver.get('https://www.naukri.com')

In [16]:
# passing post name
search_inp = input('Enter the post name: ')
search_bar = driver.find_element_by_xpath("//div[@class='inpWrap']/input")
search_bar.clear()
search_bar.send_keys(search_inp)

# searching
search_btn = driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_btn.click()

Enter the post name: Data Scientist

In [17]:
# getting location filters

loc_fltr = driver.find_element_by_xpath("//span[@title='Delhi / NCR']")
loc_fltr.click()

In [18]:
# getting salary filter
sal_fltr = driver.find_element_by_xpath("//span[@title='3-6 Lakhs']")
sal_fltr.click()

In [19]:
job_title = []
job_loc = []
comp_name = []
expr = []

In [20]:
# extracting job title
for i in driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']"):
    if len(job_title) == 10:
        break
    else:
        job_title.append(i.text)

# extracting job location
for j in driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span"):
    if len(job_loc) == 10:
        break
    else:
        job_loc.append(j.text)

# extracting company name
for k in driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']"):
    if len(comp_name) == 10:
        break
    else:
        comp_name.append(k.text)

# extracting experirncr required
for l in driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span"):
    if len(expr) == 10:
        break
    else:
        expr.append(l.text)

In [21]:
jobs = pd.DataFrame({})
jobs['title'] = job_title
jobs['location'] = job_loc
jobs['company'] = comp_name
jobs['experience'] = expr
jobs

,title,location,company,experience
0,Data Scientist / Data Analyst -Business Analyst,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/...",Inflexion Analytix Private Limited,0-3 Yrs
1,Data Scientist - High growth VC backed Influen...,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ...",Ravgins International Pvt. Ltd.,3-5 Yrs
2,Excellent opportunity For Data Scientist,"Noida, Bangalore/Bengaluru",NEC CORPORATION INDIA PRIVATE LIMITED,3-7 Yrs
3,Data Scientist,"New Delhi, Gurgaon/Gurugram, Delhi / NCR",Mobikwik,3-5 Yrs
4,DATA Scientist – Gurgaon (Exp 3-6 years),"Gurgaon/Gurugram, Delhi / NCR",CRESCENDO GLOBAL LEADERSHIP HIRING INDIA PRIVA...,3-6 Yrs
5,DATA Scientist – Gurgaon (Exp 3-6 years),"Gurgaon/Gurugram, Delhi / NCR",CRESCENDO GLOBAL LEADERSHIP HIRING INDIA PRIVA...,3-6 Yrs
6,Data Scientist - Noida,Noida,Optum Global Solutions (India) Private Limited,3-5 Yrs
7,Data Scientist - Noida/ B'lore,"Noida, Bangalore/Bengaluru",NEC CORPORATION INDIA PRIVATE LIMITED,3-8 Yrs
8,Data Scientist,"Noida, Hyderabad/Secunderabad, Bangalore/Benga...",IBM India Pvt. Limited,4-9 Yrs
9,Data Scientist,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ...",Cloudstrats Technologies Private Limited,5-8 Yrs

# Write a python program to scrape data for first 10 job results for Data scientist Designation in Noida location. You have to scrape company_name, No. of days ago when job was posted, Rating of the company.

In [22]:
driver.get('https://www.glassdoor.co.in/index.htm')

# Write a python program to scrape the salary data for Data Scientist designation in Noida location. You have to scrape Company name, Number of salaries, Average salary, Min salary, Max Salary.

# Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes: Brand, Product Description, Price, Discount.

In [23]:
driver.get('https://www.flipkart.com')

In [24]:
#closing login page
closing = driver.find_element_by_xpath("//button[@class='_2KpZ6l _2doB4z']")
closing.click()

In [25]:
# searching product

inp = input("Enter the product: ")
search = driver.find_element_by_xpath("//div[@class='_3OO5Xc']/input")
search.clear()
search.send_keys(inp)

search_btn = driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
search_btn.click()

Enter the product: Sunglasses

In [26]:
brand = []
product_desc = []
price = []
discount = []
urls = []

In [27]:
url = driver.find_elements_by_xpath("//nav[@class='yFHi8N']/a")
for i in url:
    urls.append(i.get_attribute('href'))
for i in range(0,3):
    driver.get(urls[i])
    for m in driver.find_elements_by_xpath("//div[@class='_2WkVRV']"):
        if len(brand) == 100:
            break
        else:
            brand.append(m.text)
    
    for j in driver.find_elements_by_xpath("//div[@class='_30jeq3']"):
        if len(price) == 100:
            break
        else:
            price.append(j.text)
    
    for k in driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span"):
        if len(discount) == 100:
            break
        else:
            discount.append(k.text)
    
    for l in driver.find_elements_by_xpath("//a[@class='IRpwTa']"):
        if len(desc) == 100:
            break
        else:
            desc.append(l.text)

In [28]:
sunglass = pd.DataFrame({})
sunglass['Brand'] = brand
sunglass['Description'] = desc
sunglass['Price'] = price
sunglass['Disscont'] = discount

In [29]:
sunglass

,Brand,Description,Price,Disscont
0,AISLIN,"UV Protection, Gradient Round, Shield Sunglass...",₹395,77% off
1,like future,"UV Protection, Polarized, Gradient, Mirrored W...",₹284,71% off
2,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹758,15% off
3,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹630,21% off
4,PHENOMENAL,UV Protection Retro Square Sunglasses (Free Size),₹399,80% off
5,ROZZETTA CRAFT,UV Protection Retro Square Sunglasses (Free Size),₹499,77% off
6,Fastrack,UV Protection Aviator Sunglasses (Free Size),₹674,25% off
7,ROZZETTA CRAFT,"UV Protection, Gradient Rectangular Sunglasses...",₹404,79% off
8,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹733,18% off
9,ROZZETTA CRAFT,"UV Protection, Riding Glasses Rectangular Sung...",₹449,79% off
10,Fastrack,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹621,22% off
11,PIRASO,UV Protection Aviator Sunglasses (Free Size),₹349,78% off
12,HIPPON,UV Protection Wayfarer Sunglasses (55),₹251,79% off
13,ROYAL SON,UV Protection Round Sunglasses (Free Size),₹664,66% off
14,DEIXELS,Others Retro Square Sunglasses (Free Size),₹209,73% off
15,Villain,UV Protection Aviator Sunglasses (Free Size),₹599,20% off
16,Singco India,UV Protection Wayfarer Sunglasses (56),₹339,71% off
17,Fastrack,UV Protection Aviator Sunglasses (54),₹759,15% off
18,PIRASO,UV Protection Cat-eye Sunglasses (60),₹250,84% off
19,NuVew,UV Protection Wayfarer Sunglasses (Free Size),₹419,71% off
20,Fastrack,"UV Protection, Mirrored Retro Square Sunglasse...",₹758,15% off
21,PHENOMENAL,"UV Protection Aviator, Wayfarer Sunglasses (Fr...",₹399,80% off
22,DEIXELS,"UV Protection, Gradient Aviator Sunglasses (58)",₹213,82% off
23,AISLIN,UV Protection Aviator Sunglasses (57),₹500,69% off
24,GANSTA,UV Protection Aviator Sunglasses (58),₹281,85% off
25,Fastrack,UV Protection Aviator Sunglasses (58),"₹1,085",16% off
26,NuVew,"UV Protection, Gradient Rectangular Sunglasses...",₹215,72% off
27,ROZZETTA CRAFT,"UV Protection, Gradient Round Sunglasses (Free...",₹499,77% off
28,ROZZETTA CRAFT,"UV Protection Shield, Wayfarer Sunglasses (61)",₹426,84% off
29,AISLIN,Mirrored Aviator Sunglasses (55),₹469,74% off
...,...,...,...,...
70,ROZZETTA CRAFT,"UV Protection, Mirrored, Gradient Wayfarer Sun...",₹399,72% off
71,Badfella,"UV Protection, Mirrored Cat-eye Sunglasses (68)",₹269,73% off
72,GANSTA,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹281,85% off
73,NuVew,"UV Protection, Mirrored Retro Square Sunglasse...",₹364,76% off
74,Fastrack,"UV Protection, Night Vision, Gradient, Mirrore...",₹682,14% off
75,PHENOMENAL,"Mirrored, UV Protection Wayfarer Sunglasses (F...",₹399,80% off
76,hipe,UV Protection Aviator Sunglasses (58),₹210,78% off
77,Fastrack,Others Retro Square Sunglasses (Free Size),₹777,22% off
78,Fastrack,"UV Protection, Gradient Oval Sunglasses (58)","₹1,115",14% off
79,Villain,"UV Protection, Night Vision, Riding Glasses, G...",₹599,20% off
80,AISLIN,"UV Protection, Mirrored Wayfarer Sunglasses (53)",₹525,65% off
81,hipe,"UV Protection, Gradient Round, Shield Sunglass...",₹210,83% off
82,GANSTA,"Gradient, UV Protection Round Sunglasses (Free...",₹224,77% off
83,AISLIN,UV Protection Retro Square Sunglasses (88),₹395,77% off
84,hipe,UV Protection Aviator Sunglasses (58),₹219,83% off
85,ROYAL SON,"UV Protection, Gradient Wayfarer Sunglasses (53)",₹569,71% off
86,Fastrack,UV Protection Rectangular Sunglasses (Free Size),"₹1,148",11% off
87,GANSTA,"UV Protection, Polarized, Gradient, Mirrored W...",₹328,83% off
88,Ray-Ban,Mirrored Aviator Sunglasses (55),"₹3,019",45% off
89,like future,UV Protection Wayfarer Sunglasses (Free Size),₹284,71% off
90,ROYAL SON,Mirrored Aviator Sunglasses (Free Size),₹399,73% off
91,Fastrack,UV Protection Retro Square Sunglasses (88),₹576,27% off
92,ROYAL SON,UV Protection Aviator Sunglasses (60),₹399,73% off
93,ROYAL SON,Mirrored Aviator Sunglasses (Free Size),₹664,66% off
94,ROYAL SON,"UV Protection Retro Square, Wayfarer Sunglasse...",₹599,70% off
95,LIZA ANGEL,UV Protection Retro Square Sunglasses (58),₹49,83% off
96,Elligator,UV Protection Retro Square Sunglasses (Free Size),₹279,88% off
97,Wrogn,UV Protection Retro Square Sunglasses (Free Size),"₹1,162",64% off
98,Fastrack,UV Protection Cat-eye Sunglasses (60),"₹1,780",10% off
99,NuVew,"UV Protection, Polarized Wayfarer Sunglasses (56)",₹314,70% off

# Scrape 100 reviews data from flipkart.com for iphone11 phone.

In [30]:
driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace.')

In [31]:
rating = []
r_sum = []
full_sum = []
urls1 = []

In [32]:
# opening the review page
clk = driver.find_element_by_xpath("//div[@class='_3UAT2v _16PBlm']/span")
clk.click()

In [33]:
url = driver.find_elements_by_xpath("//nav[@class='yFHi8N']/a")
for i in url:
    urls1.append(i.get_attribute('href'))
for i in range(0,10):
    driver.get(urls1[i])
    for i in driver.find_elements_by_xpath("//p[@class='_2-N8zT']"):
        rating.append(i.text)
    
    for j in driver.find_elements_by_xpath("//p[@class='_2-N8zT']"):
        r_sum.append(j.text)
    
    for k in driver.find_elements_by_xpath("//div[@class='t-ZTKy']"):
        full_sum.append(k.text)

In [34]:
iphone = pd.DataFrame({})
iphone['Rating'] = rating
iphone['Review Summary'] = r_sum
iphone['Full Review'] = full_sum
iphone

,Rating,Review Summary,Full Review
0,Brilliant,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
1,Perfect product!,Perfect product!,Amazing phone with great cameras and better ba...
2,Great product,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
3,Worth every penny,Worth every penny,Previously I was using one plus 3t it was a gr...
4,Good choice,Good choice,So far it’s been an AMAZING experience coming ...
5,Highly recommended,Highly recommended,iphone 11 is a very good phone to buy only if ...
6,Perfect product!,Perfect product!,It’s a must buy who is looking for an upgrade ...
7,Fabulous!,Fabulous!,This is my first iOS phone. I am very happy wi...
8,Perfect product!,Perfect product!,Value for money❤️❤️\nIts awesome mobile phone ...
9,Wonderful,Wonderful,*Review after 10 months of usage*\nDoesn't see...
10,Worth every penny,Worth every penny,Best budget Iphone till date ❤️ go for it guys...
11,Perfect product!,Perfect product!,Iphone is just awesome.. battery backup is ver...
12,Worth every penny,Worth every penny,It’s been almost a month since I have been usi...
13,Nice product,Nice product,Awesome Phone. Slightly high price but worth. ...
14,Simply awesome,Simply awesome,"Excellent camera, good performance, no lag. Th..."
15,Terrific,Terrific,Really worth of money. i just love it. It is t...
16,Highly recommended,Highly recommended,It's my first time to use iOS phone and I am l...
17,Classy product,Classy product,Superb Product !!!\nA big and worthy upgrade f...
18,Wonderful,Wonderful,This is my first ever I phone. Before this I w...
19,Brilliant,Brilliant,"I have migrated from OP 7pro... and trust me, ..."
20,Must buy!,Must buy!,It’s an amazing product from apple and the cam...
21,Terrific purchase,Terrific purchase,Upgraded from iphone 6 to 11 best phone for ip...
22,Mind-blowing purchase,Mind-blowing purchase,This will help you more. See if you are planni...
23,Great product,Great product,Well you all know the specifications . One of ...
24,Terrific purchase,Terrific purchase,The built quality is not very premium.\nThe ba...
25,Simply awesome,Simply awesome,Really good actually this is my first apple pr...
26,Good quality product,Good quality product,it is very good at performance. Camera is best...
27,Very poor,Very poor,Reviewing again after 5 months. At the beginni...
28,Best in the market!,Best in the market!,Great iPhone very snappy experience as apple k...
29,Must buy!,Must buy!,Best Apple iPhone that i have bought at a very...
...,...,...,...
70,Mind-blowing purchase,Mind-blowing purchase,Absolutely powerful gadget. Loved it’s look! S...
71,Good quality product,Good quality product,I was torn between the oneplus 8 pro and the i...
72,Terrific purchase,Terrific purchase,I use a Note10+ and have been using both iOS a...
73,Awesome,Awesome,The phone is completely good\nAs far as camera...
74,Decent product,Decent product,Everything u ll like it when u use this iPhone...
75,Good quality product,Good quality product,I'm switching this phone to oppo reno 10x zoom...
76,Just wow!,Just wow!,The ultimate performance\nCamera is superb\nTh...
77,Excellent,Excellent,Seller - SuperComNet ( my trust in you has gro...
78,Awesome,Awesome,Can’t beat the software and hardware integrati...
79,Super!,Super!,It's a great phone. From camera to display eve...
80,Excellent,Excellent,Value for money product. This iphone 11 is rea...
81,Does the job,Does the job,phone is good but in display is 720p lcd in th...
82,Wonderful,Wonderful,I genuinely liked it. One of the best mobile p...
83,Good quality product,Good quality product,"Awesome camera, smooth and fast UI, display is..."
84,Perfect product!,Perfect product!,Worth the money’ starting first from its perfo...
85,Classy product,Classy product,I write this review after using a week this iP...
86,Classy product,Classy product,We are on apple ecosystem for almost eight yea...
87,Mind-blowing purchase,Mind-blowing purchase,i was confused between 11 and 11 pro. i was go...
88,Super!,Super!,This is my first ever iPhone.\nAnd I truly don...
89,Value-for-money,Value-for-money,Just got this iphone 11\nAnd it is most powerf...
90,Brilliant,Brilliant,"Wow wow and wow, in 48k you will not get anyth..."
91,Most Price worthy Iphone,Most Price worthy Iphone,Reviewing within 1st Month\n\n\n1st Month Revi...
92,Not recommended at all,Not recommended at all,They are selling cheep quality items. There is...
93,Best in the market!,Best in the market!,The best all rounder iphone. Flipkart is doing...
94,Terrific purchase,Terrific purchase,"Well , as we all know if its not an Iphone , i..."
95,Excellent,Excellent,A perfect phone and a good battery super camer...
96,Fabulous!,Fabulous!,Everything is perfect pictures come out so cle...
97,Wonderful,Wonderful,Nice value for money good and best price I pho...
98,Fabulous!,Fabulous!,Just an awesome phone...upgraded from 6s to 11...
99,Value-for-money,Value-for-money,As usual a great product from Apple. but the l...

# Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.

In [35]:
driver.get('https://www.flipkart.com')

In [36]:
# searching product

inp = input("Enter the product: ")
search = driver.find_element_by_xpath("//div[@class='_3OO5Xc']/input")
search.clear()
search.send_keys(inp)

search_btn = driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
search_btn.click()

Enter the product: Sneakers

In [37]:
brand = []
p_desc = []
price = []
discount = []
url_list = []

In [38]:
temp = driver.find_elements_by_xpath("//nav[@class='yFHi8N']/a")
for i in temp:
    url_list.append(i.get_attribute('href'))

In [39]:
for i in range(3):
    driver.get(url_list[i])
    for m in driver.find_elements_by_xpath("//div[@class='_2WkVRV']"):
        if len(brand) == 100:
            break
        else:
            brand.append(m.text)
    
    for j in driver.find_elements_by_xpath("//a[@class='IRpwTa']"):
        if len(p_desc) == 100:
            break
        else:
            p_desc.append(j.text)
    
    for k in driver.find_elements_by_xpath("//div[@class='_30jeq3']"):
        if len(price) == 100:
            break
        else:
            price.append(k.text)
    
    for l in driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span"):
        if len(discount) == 100:
            break
        else:
            discount.append(l.text)

In [40]:
sneakers = pd.DataFrame({})
sneakers['Brand'] = brand
sneakers['Description'] = p_desc
sneakers['Price'] = price
sneakers['Discount'] = discount

In [41]:
print(len(brand), len(p_desc), len(price), len(discount))

100 100 100 100

# Go to the link - https://www.myntra.com/shoes
# Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black”, as shown in the below image
# And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe description, price of the shoe

In [42]:
driver.get('https://www.myntra.com/shoes')

In [45]:
driver.find_element_by_xpath('//*[@id="mountRoot"]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label').click()

In [46]:
driver.find_element_by_xpath("//*[@id='mountRoot']/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label").click()

In [47]:
brand = []
s_desc = []
price = []
url_list1 = []

In [48]:
abc = driver.find_elements_by_xpath("//li[@class='pagination-number']/a")
for i in abc:
    url_list1.append(i.get_attribute('href'))

In [49]:
url_list1

['https://www.myntra.com/shoes?f=Color%3ABlack_36454f&plaEnabled=false&rf=Price%3A6657.0_13105.0_6657.0%20TO%2013105.0&p=2',
 'https://www.myntra.com/shoes?f=Color%3ABlack_36454f&plaEnabled=false&rf=Price%3A6657.0_13105.0_6657.0%20TO%2013105.0&p=3',
 'https://www.myntra.com/shoes?f=Color%3ABlack_36454f&plaEnabled=false&rf=Price%3A6657.0_13105.0_6657.0%20TO%2013105.0&p=4',
 'https://www.myntra.com/shoes?f=Color%3ABlack_36454f&plaEnabled=false&rf=Price%3A6657.0_13105.0_6657.0%20TO%2013105.0&p=5',
 'https://www.myntra.com/shoes?f=Color%3ABlack_36454f&plaEnabled=false&rf=Price%3A6657.0_13105.0_6657.0%20TO%2013105.0&p=6',
 'https://www.myntra.com/shoes?f=Color%3ABlack_36454f&plaEnabled=false&rf=Price%3A6657.0_13105.0_6657.0%20TO%2013105.0&p=7',
 'https://www.myntra.com/shoes?f=Color%3ABlack_36454f&plaEnabled=false&rf=Price%3A6657.0_13105.0_6657.0%20TO%2013105.0&p=8',
 'https://www.myntra.com/shoes?f=Color%3ABlack_36454f&plaEnabled=false&rf=Price%3A6657.0_13105.0_6657.0%20TO%2013105.0&p=9',
 'https://www.myntra.com/shoes?f=Color%3ABlack_36454f&plaEnabled=false&rf=Price%3A6657.0_13105.0_6657.0%20TO%2013105.0&p=10']

In [50]:
for i in range(0,2):
    for j in driver.find_elements_by_xpath('//h3[@class="product-brand"]'):
        if len(brand) == 100:
            break
        else:
            brand.append(j.text)
    
    for k in driver.find_elements_by_xpath('//div[@class="product-price"]'):
        if len(price) == 100:
            break
        else:
            price.append(k.text)
    
    for l in driver.find_elements_by_xpath('//h4[@class="product-product"]'):
        if len(s_desc) == 100:
            break
        else:
            s_desc.append(l.text)
    
    driver.get(url_list1[i])

In [51]:
print(len(brand), len(s_desc), len(price))

100 100 100

In [52]:
shoes = pd.DataFrame({})
shoes['Brand'] = brand
shoes['Description'] = s_desc
shoes['Price'] = price
shoes

,Brand,Description,Price
0,PUMA Motorsport,Unisex Mercedes Running Shoes,Rs. 7999
1,Nike,Men KD13 EP Basketball Shoes,Rs. 12995
2,Nike,Women AIR ZOOM Running Shoes,Rs. 7721Rs. 10295(25% OFF)
3,Nike,Men JORDAN DELTA Basketball,Rs. 12495
4,Nike,Men React Infinity Running,Rs. 10846Rs. 15495(30% OFF)
5,Nike,Women PEGASUS 37 Running Shoes,Rs. 7496Rs. 9995(25% OFF)
6,Nike,Men AIR ZOOM Running Shoes,Rs. 7206Rs. 10295(30% OFF)
7,Nike,Women REACT Running Shoes,Rs. 8396Rs. 11995(30% OFF)
8,Nike,AIR ZOOM PEGASUS Running Shoes,Rs. 11495
9,Nike,Men JOYRIDE Running Shoes,Rs. 10496Rs. 14995(30% OFF)
10,Nike,Women AIR ZOOM Running Shoes,Rs. 6996Rs. 9995( 30 % OFF)
11,Nike,Women AIR ZOOM Running,Rs. 10121Rs. 13495(25% OFF)
12,UNDER ARMOUR,Charged Rogue 2 Wide 2E Shoes,Rs. 7999
13,UNDER ARMOUR,HOVR Sonic 3 Running Shoes,Rs. 10999
14,Puma,Men Velocity Nitro Running,Rs. 10999
15,UNDER ARMOUR,Men Liquify Running Shoes,Rs. 10999
16,Nike,Men JORDAN DELTA Sneakers,Rs. 10995
17,Puma,Men UltraRide Running Shoes,Rs. 7199Rs. 8999(20% OFF)
18,UNDER ARMOUR,Women TriBase Reign 2 Training,Rs. 11999
19,Puma,Unisex Futurverse Sneakers,Rs. 9999
20,Skechers,Men VIPER COMPETITOR Training,Rs. 6999
21,UNDER ARMOUR,Men HOVR Strt Walking Shoes,Rs. 9999
22,Hush Puppies,Men Solid Leather Formal Slip-Ons,Rs. 8999
23,UNDER ARMOUR,Unisex SC 3ZER0 IV Basketball,Rs. 8999
24,Puma,Men FUTURE Z 3.1Football Shoes,Rs. 6799Rs. 7999(15% OFF)
25,UNDER ARMOUR,Women Charged Breathe TR 2,Rs. 7999
26,UNDER ARMOUR,HOVR Sonic 3 Running Shoes,Rs. 10999
27,UNDER ARMOUR,Charged Impulse Running Shoes,Rs. 7999
28,Onitsuka Tiger,Unisex Big Logo Trainer,Rs. 10999
29,Cole Haan,Leather Sneakers,Rs. 10999
...,...,...,...
70,Cole Haan,Women Open Toe Flats,Rs. 8999Rs. 11999(25% OFF)
71,Heel & Buckle London,Men Leather Formal Oxfords,Rs. 7693Rs. 10990(30% OFF)
72,Heel & Buckle London,Women Leather Pumps,Rs. 7192Rs. 8990(20% OFF)
73,Cole Haan,Women Solid Leather Ballerinas,Rs. 10499Rs. 13999(25% OFF)
74,Cole Haan,Women Sandals,Rs. 6749Rs. 14999(55% OFF)
75,UNDER ARMOUR,Men HOVR Rise 2 Training Shoes,Rs. 9999
76,Cole Haan,Women Woven Design Sneakers,Rs. 6749Rs. 14999(55% OFF)
77,UNDER ARMOUR,Men Charged Bandit 6 Running,Rs. 7199Rs. 8999(20% OFF)
78,Nike,Men REACT MILER 2 Running,Rs. 9196Rs. 11495(20% OFF)
79,ADIDAS,Men Ultraboost DNA CC_1 Shoes,Rs. 12749Rs. 16999(25% OFF)
80,UNDER ARMOUR,Charged RC Sportstyle Sneakers,Rs. 8999
81,UNDER ARMOUR,Women Charged Breathe OIL SLK,Rs. 8999
82,Ruosh,Men Solid Leather Formal Slip-Ons,Rs. 6990
83,UNDER ARMOUR,Charged Pursuit 2 Running,Rs. 6999
84,Reebok,Men Nano X1 Training Shoes,Rs. 6999Rs. 9999(30% OFF)
85,Ruosh,Men Solid Leather Formal Monks,Rs. 6990
86,ALDO,Women Open Toe Flats,Rs. 8999
87,Ruosh,Men Solid Leather Formal Derbys,Rs. 8990
88,Reebok,Unisex Zig Kinetica II Running,Rs. 9999
89,Puma,Men Football Shoes,Rs. 12749Rs. 16999(25% OFF)
90,UNDER ARMOUR,Charged Rogue 2 Running Shoes,Rs. 7999
91,Puma,Men UltraRide Running Shoes,Rs. 7199Rs. 8999(20% OFF)
92,Nike,Men REACT MILER 2 Running,Rs. 9770Rs. 11495(15% OFF)
93,Florsheim,Men Solid Leather Formal Loafers,Rs. 6995
94,Saint G,Leather Heeled Boots,Rs. 11800
95,Puma,Men Ignite Sock Plus Sneakers,Rs. 6749Rs. 8999(25% OFF)
96,Kenneth Cole,Women Solid Flat Boots,Rs. 9513Rs. 13590(30% OFF)
97,ADIDAS,Men Supernova Running Shoes,Rs. 7999Rs. 9999(20% OFF)
98,Florsheim,Men Solid Leather Formal Derbys,Rs. 6995
99,ALDO,Women Black Sneakers,Rs. 8999